$colorA: #05386B;
$colorB: #379683;
$colorC: #5CDB95;
$colorD: #8EE4AF;
$colorE: #EDF5E1;

#about{
    padding: 0;
}

.about-box{
    font-size: 1.5em;
}

#about-float-text p {
    font-size: 3em;
}

.about-number {
    font-size: 6em;
}

.about-1-box{
    padding-top: 5%;
    background-color: $colorE;
    padding-bottom: 5%;
}

.about-4-box{
    background-color: $colorE;
    padding-bottom: 2%;
}

.about-2-box{
    background-color: #DCDCDC;
    padding-top: 5%;
    padding-bottom: 2%;
}

.about-3-box{
    padding-bottom: 2%;
    background-color: #DCDCDC;
}

#countdown-text {
    font-size: 2em;
}

#about-countdown {
    padding-top: 5%;
    padding-bottom: 10%;
}

#about-float-text {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%, 0);
    z-index: 1;
}

@media screen and (max-width: 575px) and (min-width: 20px) {
    .about-1-box{
        padding-top: 25%;
    }

    .about-3-box{
        background-color: $colorE;
    }

    .about-4-box{
        background-color: #DCDCDC;
    }

    #about-countdown {
        padding-bottom: 20%;
    }
}