@import url('https://fonts.googleapis.com/css?family=Montserrat');

#section_1{
    width: 100%;
    min-height: 700px;
}

#section_1 p{
    font-size: 5rem;
    font-family: 'PinyonScriptRegular'; 
    font-weight: normal; 
    font-style: normal; 
    color: white;
    text-align: right;
    padding-top: 15%;
    padding-right: 10%;
    padding-bottom: 0;
}

#section_1 {
    background-color: #FAFAFA;
}

#section_2 p{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal; 
    font-style: normal; 
    text-align: center;
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 300px;
}

#section-3-left, #section-3-right {
    min-height: 200px;
}

#countdown {
    text-align: center;
    padding-top: 15%;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}