@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Kaushan+Script|Poiret+One|Montserrat|Indie+Flower|Open+Sans:400,300,700');

html, body, #root {
    height: 100%;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.bare-element {
    padding: 0;
    margin: 0;
}

.hide{
    opacity: 0;
}